<div class="row sleep-themed-bg">
  <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
    <h2>Login</h2>
    <a href="/login" class="btn btn-primary mb-3">Go to Login</a>
    <form class="form login-form">
    </form>
    <script src="/login.js"></script>
  </div>
  <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
    <h2>Sign Up</h2>
    <a href="/signup" class="btn btn-secondary mb-3">Go to Sign Up</a>
    <form class="form signup-form">
    </form>
    <script src="/signup.js"></script>
  </div>
</div>