<div class="row homepage-bg">
  <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
    <h2>Welcome to SleepX Tracker</h2>
    <p>Empowering you to take control of your sleep health and gain valuable insights into your nightly rest.</p>
    <a href="/login" class="btn btn-primary mb-3">Go to Login</a>
    <form class="form login-form">
     
    </form>
    <script src="./login.js"></script>
  </div>
  <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
    <h2>Join SleepX Tracker</h2>
    <p>Discover the power of better sleep with personalized recommendations and sleep quality analysis.</p>
    <a href="/signup" class="btn btn-secondary mb-3">Go to Sign Up</a>
    <form class="form signup-form">
    </form>
    <script src="/signup.js"></script>
  </div>
</div>


<div class="row mt-5">
  <div class="col-md-12 d-flex flex-column justify-content-center align-items-center">
    <h2>Sleep Tracking: A Revolutionary Approach</h2>
    <p>At SleepTrackers, we go beyond traditional sleep monitoring. Our advanced sleep trackers capture an array of vital data, providing you with comprehensive insights into your sleep patterns and overall sleep health.</p>
    <p>Key Sleep Metrics Recorded:</p>
    <ul>
      <li>Heart Rate</li>
      <li>Heart Rate Variability</li>
      <li>Respiration Rate</li>
      <li>Snoring Incidents</li>
      <li>Time Awake and Time Asleep</li>
      <li>Sleep Interruptions</li>
      <li>Body Temperature During Sleep</li>
    </ul>
    <p>Take control of your sleep health today with SleepTrackers! Our personalized recommendations will help you optimize your sleep habits and achieve better sleep quality.</p>
  </div>
</div>