<div class="row homepage-bg">
  <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
    <h2>Welcome to SleepX Tracker</h2>
    <p>Empowering you to take control of your sleep health and gain valuable insights into your nightly rest.</p>
    <a href="/login" class="btn btn-primary mb-3">Go to Login</a>
    <form class="form login-form">
      
    </form>
    <script src="/login.js"></script>
  </div>
  <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
    <h2>Join SleepX Tracker</h2>
    <p>Discover the power of better sleep with personalized recommendations and sleep quality analysis.</p>
    <a href="/signup" class="btn btn-secondary mb-3">Go to Sign Up</a>
    <form class="form signup-form">
      
    </form>
    <script src="/signup.js"></script>
  </div>
</div>